<!-- FORM -->


<section class="colored-section" id="form">


  <div class="container-fluid" id="contenedor">
    <div class="container-md container_k">
      <div class="progress progress_k">
        <div class="progress-bar progress-bar-striped bg-ptg progress-bar-animated" role="progressbar"
          style="width: 100%" aria-valuenow="<%= topStep %>" aria-valuemin="0" aria-valuemax="<%= topStep %>"></div>
      </div>

      <% if (ind_sol > 0) { %>
      <h3>
        <%= mes %> <%= anyo %>
      </h3>
      <div class="scroll_k" id="scroll_k">
        <table class="table tabla">
          <thead>
            <tr>
              <% for (var i = 0; i < dias_mes + 1 ; i++) { %>
              <% if (i > 0 && festivosArray[i-1]==1) { %>
              <th scope="col" class="table-clear-blue">
                <%= i %>
              </th>
              <% } else if(i > 0) {%>
              <th scope="col">
                <%= i %>
              </th>
              <% } else {%>
              <th scope="col"></th>
              <% }} %>
            </tr>
          </thead>

          <thead>
            <tr>
              <% for (var i = 0; i < dias_mes + 1 ; i++) { %>
              <% if (i > 0 && festivosArray[i-1]==1) { %>
              <th scope="col" class="table-clear-blue">
                <%= weekArray[i-1] %>
              </th>
              <%  } else if (i > 0) { %>
              <th scope="col">
                <%= weekArray[i-1] %>
              </th>
              <% } else {%>
              <th scope="col"></th>
              <% }} %>
            </tr>
          </thead>

          <tbody>
            <% var k = 0%>
            <% for (var i = 0; i < n_resis ; i++) {%>
            <tr>
              <th scope="row" style="padding: 0 5px 0 0; vertical-align: middle;"><%= nombre[i] %> </th>
              <% for (var j = 0; j < dias_mes ; j++) { %>

              <% if (solucion[k] === 1  && guardiasMatrix[i][j] === 1) { %>
              <td class="table-clear-red"><i class="fa-solid fa-house-medical icon-red checkboxSize"></i></td>

              <% } else if (solucion[k] === 0  && vacacionesMatrix[i][j] === 1){%>
              <td class="table-clear-green"> - </td>

              <% } else if (solucion[k] === 0){ %>
              <% if (festivosArray[j]===0) { %>
              <td> - </td>
              <% } else if (festivosArray[j]===1){ %>
              <td class="table-clear-blue"> - </td>
              <% } %>

              <% } else if (solucion[k] === 1){ %>
              <% if (festivosArray[j]===0) { %>
              <td><i class="fa-solid fa-house-medical icon-red checkboxSize "></i></td>
              <% } else if (festivosArray[j]===1){ %>
              <td class="table-clear-blue"><i class="fa-solid fa-house-medical icon-red checkboxSize "></i></td>
              <% } %>

              <%}%>


              <% var k = k + 1%>
              <% } %>
            </tr>
            <% } %>

          </tbody>
        </table>
      </div>

      <div class="container-fluid-light bold">

        <div class="row">

          <div class="col-lg-4">
            <p class="table-clear-blue">Festivos</p>
          </div>

          <div class="col-lg-4">
            <p class="table-clear-red">Guardias preasignadas</p>
          </div>

          <div class="col-lg-4">
            <p class="table-clear-green">Vacaciones asignadas</p>
          </div>

        </div>


      </div>
      <h4> La clave para buscar la solución es: </h4>
      <h3 class="container-text feature-title-box"> <%= idSolBuscada%></h3>
      <% } %>

      <% var arr = [10, 20, 50]%>
      <% if (!arr.includes(cod_error)) { %>
        <div ><h5 class ="bold">¡Compártelo!</h5></div>
      <button class="btn btn-ptg-naranja" onclick="copiarEnlacePortapapeles(' <%= idSolBuscada%>')"><i
          class="fa-solid fa-copy"></i> Copiar link</button>
      <a class="btn btn-ptg-naranja"
        href="whatsapp://send?text=Adjunto la planilla de <%= mes%> <%= anyo%>: http://localhost:3000/buscarSolucion?idSol=<%= idSolBuscada%>"
        data-action="share/whatsapp/share" target="_blank">
        <i class="fa-brands fa-whatsapp"></i> Enviar por Whatsapp</a>
      <a class="btn btn-ptg-naranja"
        href="mailto:?subject=Planilla de <%= mes%> <%= anyo%>&body=Adjunto la planilla de <%= mes%> <%= anyo%>: http://localhost:3000/buscarSolucion?idSol=<%= idSolBuscada%>">
        <i class="fa-solid fa-envelope"></i> Enviar por mail </a>

      <% } %>

      <% switch (cod_error) {
        case 0: %>
      <div class="mini-filtro">
        <br>
        Por favor, dinos qué te ha parecido la solución:
      </div>

      <div id="feedback-buttons">
        <button id="happy-btn" class="btn happy" onclick="updateFeedback(2)"><i
            class="fa-regular fa-face-smile"></i></button>
        <button id="medium-btn" class="btn medium" onclick="updateFeedback(1)"><i
            class="fa-regular fa-face-meh-blank"></i></button>
        <button id="sad-btn" class="btn sad" onclick="updateFeedback(-1)"><i
            class="fa-regular fa-face-sad-tear"></i></button>

      </div>


      <% break

       case 10: %>
      <div>
        <h4> La clave para buscar la solución es: </h4>
        <h3 class="container-text feature-title-box"> <%= idSolBuscada%></h3>
        <div class="mini-filtro">
          Lo sentimos, algo no ha ido bien al buscar la solución. Puedes probar en unos minutos con el código adjunto.
          Tambien puedes escribirnos a <a href="mailto:info@pontusguardias.com">info@PonTusGuardias.com</a> para que
          busquemos una solución
          alternativa.

          Gracias por confiar en PonTusGuardias.com
        </div>

      </div>


      <% break ;

       case 20: %>
      <div class="mini-filtro">
        Lo sentimos, no hemos encontrado una solución para la planilla que planteas. Prueba a escribirnos a <a
          href="mailto:info@pontusguardias.com">info@PonTusGuardias.com</a> para que busquemos una solución alternativa.

        Gracias por confiar en PonTusGuardias.com
      </div>

      <% break ;

       case 30: %>
      <div>
        <h4> Tu código para recuperar la solución es: </h4>
        <h3 class="container-text feature-title-box"> <%= idSolBuscada%></h3>
        <div class="mini-filtro">
          Lo sentimos, se ha agotado el tiempo de búsqueda. Puedes probar en unos minutos con el código adjunto. Tambien
          puedes escribirnos a <a href="mailto:info@pontusguardias.com">info@PonTusGuardias.com</a> para que busquemos
          una solución
          alternativa.

          Gracias por confiar en PonTusGuardias.com
        </div>
      </div>

      <% break ;

       case 50: %>
      <div>
        <div class="mini-filtro">
          Lo sentimos, <strong>ese código es erróneo</strong>. Prueba a escribirnos a <a
            href="mailto:info@pontusguardias.com">info@PonTusGuardias.com</a> para ayudarte a encontrar tu planilla.

          Gracias por confiar en PonTusGuardias.com
        </div>
      </div>

      <% break ;

       default: %>

      <% break ;} %>
            

      <div class="container-fluid-light bold">

        <div class="row justify-content-md-center">
          <% if (!arr.includes(cod_error)) { %>
          <div class="col-lg-4">

            <form action="/reutilizar-planilla#form" method="POST">
              <div class="form-group">
                <input type="hidden" name="step" value="1">
              </div>
              <button class="btn btn-ptg bold" type="submit">Reutilizar planilla</button>
            </form>

            <div class="col-md-auto">

            </div>

          </div>
          <% } %>
          <div class="col-lg-4">

            <form action="/" method="POST">
              <div class="form-group">
                <input type="hidden" name="step" value="0">
              </div>

              <button class="btn btn-ptg bold" type="submit">Volver a empezar</button>
            </form>

          </div>
        </div>
      </div>

    </div>
  </div>

</section>

<script type="text/javascript">
  var elms_blue = document.getElementsByClassName("table-clear-blue");
  var n_blue = elms_blue.length;
  var n = 0;

  function changeColor(color) {
    for (var i = 0; i < n; i++) {
      elms[i].style.backgroundColor = color;
    }
  }
  for (var i = 0; i < n_blue; i++) {

    elms_blue[i].onmouseover = function () {
      elms = elms_blue
      n = n_blue
      changeColor("#86def7");
    };
    elms_blue[i].onmouseout = function () {
      elms = elms_blue
      changeColor("#bdeaf7");
    };
  }

  var elms_red = document.getElementsByClassName("table-clear-red");
  var n_red = elms_red.length;

  for (var i = 0; i < n_red; i++) {
    elms_red[i].onmouseover = function () {
      elms = elms_red
      n = n_red
      changeColor("#fa6464");
    };
    elms_red[i].onmouseout = function () {
      elms = elms_red
      changeColor("#f7cfbd");
    };
  }

  var elms_green = document.getElementsByClassName("table-clear-green");
  var n_green = elms_green.length;

  for (var i = 0; i < n_green; i++) {
    elms_green[i].onmouseover = function () {
      elms = elms_green
      n = n_green
      changeColor("#b5f385");
    };
    elms_green[i].onmouseout = function () {
      elms = elms_green
      changeColor("#d6f7bd");
    };
  }

  $(document).ready(function () {
    $(document).scrollTop($("#form").offset().top);
  });

  function copiarEnlacePortapapeles(idsolucion) {
    // Get the text field
    var idSolu = idsolucion;
    //var copyText = "https://PonTusGuardias.com//buscarSolucion?idSol="+ idSolBuscada;
    //    var copyText = "http://localhost:3000/buscarSolucion?idSol=" + idSolu;
    var copyText = "http://localhost:3000/buscarSolucion?idSol=" + idSolu;
    copyText = copyText.split(" ").join("");

    // Copy the text inside the text field
    navigator.clipboard.writeText(copyText);

    // Alert the copied text
    alert("¡Enlace copiado! Ahora compártelo");
  }

  function updateFeedback(status) {
    // Make a POST request to your server with the updated status
    fetch('/update-feedback', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          clientStatus: status
        })
      })
      .then(response => {
        // Handle the response from the server if needed
      })
      .catch(error => {
        console.error('Error:', error);
      });
  }

  function reutilizarPlanilla() {

    // Make a POST request to your server with the updated status
    fetch('/reutilizar-planilla', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          clientStatus: status
        })
      })
      .then(response => {
        // Handle the response from the server if needed
      })
      .catch(error => {
        console.error('Error:', error);
      });
  }
</script>