<!-- FORM -->


<section class="colored-section" id="form">

  <% if (step === 0) { %>
  <div class="container-fluid">

    <h3 class="big-heading-white">Prueba a obtener tu primera planilla</h3>

    <form action="/generarplanilla" method="post">
      <input type="hidden" name="step" value="<%= step %>">
      <button class="btn btn-outline-light btn-lg download-button filtro" type="submit">Empezar</button>
    </form>

  </div>

  <% } else if (step > 0) { %>


  <% if (step === 1) { %>
  <div class="container-fluid" id="contenedor">
    <div class="container-md container_k">
      <div class="progress progress_k">
        <div class="progress-bar progress-bar-striped bg-ptg progress-bar-animated" role="progressbar"
          style="width: 10%" aria-valuenow="<%= step %>" aria-valuemin="0" aria-valuemax="<%= topStep %>"></div>
      </div>

      <h3 class=" container-text feature-title-box">Indica el mes y el año de la planilla:</h3>

      <form action="/generarplanilla" method="post">
        <div class="form-group">
          <input type="hidden" name="step" value="<%= step %>">

          <select class="form-control filtro" size="1" name="mes" required>
            <option disabled="" selected="" value="">Mes</option>
            <% for (var i = 0; i < 12 ; i++) { %>
            <option value="<%= meses[i] %>"><%= meses[i] %></option>
            <% } %>

          </select>

          <select class="form-control filtro" size="1" name="anyo" required>
            <option disabled="" selected="" value="">Año</option>
            <% for (var i = 0; i < anyosLength ; i++) { %>
            <option value="<%= anyos[i] %>"><%= anyos[i] %></option>
            <% } %>

          </select>
        </div>

        <button class="btn btn-ptg" type="submit">Siguiente</button>

      </form>
    </div>


  </div>
  <% } else if (step === 2) { %>
  <div class="container-fluid" id="contenedor">
    <div class="container-md container_k">
      <div class="progress progress_k">
        <div class="progress-bar progress-bar-striped bg-ptg progress-bar-animated" role="progressbar"
          style="width: 20%" aria-valuenow="<%= step %>" aria-valuemin="0" aria-valuemax="<%= topStep %>"></div>
      </div>


      <h3 class="container-text feature-title-box">Indica el nº de médicos y sus nombres:</h3>
      <h4 id="aviso" class="aviso"><%= aviso %></h4>

      <form action="/generarplanilla" method="post">
        <div class="form-group" id="divi">
          <input type="hidden" name="step" value=<%= step %>>

          <input class="filtro" size="1" type="number" min="3" id="n_resis" onchange="pregunta_nombres()"
            autocomplete="off" class="form-control" name="n_resis" placeholder="Nº médicos" required>

          <br />
          <br />

          <!-- Se pregunta por el nombre de los residentes -->

          <script>
            function pregunta_nombres() {
              let nombres = '<%= nombre %>'
              let nombres_array = nombres.split(",")


              for (var i = 0; i <= 50; i++) {
                while (document.contains(document.getElementById("Nombre_" + i))) {
                  document.getElementById("Nombre_" + i).remove();
                }

              }

              var n_resis = document.getElementById("n_resis");
              var n_resis_value = n_resis.value;
              var divi = document.getElementById("divi");

              // Crea las celdas
              for (var i = 0; i < n_resis_value; i++) {
                var input = document.createElement("input");
                input.setAttribute("type", "text");
                input.setAttribute("name", "Nombre_" + i);
                input.setAttribute("id", "Nombre_" + i);
                input.setAttribute("class", "form-control filtro");
                input.setAttribute("placeholder", "Nombre");
                input.setAttribute("maxlength", "12");
                input.required = true;
                divi.appendChild(input);
              }

              if (nombres_array.length > 1) {
                limit = Math.min(nombres_array.length, n_resis_value)
                for (var i = 0; i < limit; i++) {
                  let id = "Nombre_" + i
                  document.getElementById(id).value = nombres_array[i]

                }
              }
            }
          </script>
          <noscript>¡Ha habido un error! Prueba a abrir la web desde Google Chrome.</noscript>

        </div>
        <button class="btn btn-ptg defaultsink" type="submit">Siguiente</button>
        <button class="btn btn-ptg" type="" name="botonAnterior" value="-1">Anterior</button>
        <button class="btn btn-ptg" type="submit">Siguiente</button>

      </form>
    </div>
  </div>
  <% } else if (step === 3) { %>
  <div class="container-fluid" id="contenedor">
    <div class="container-md container_k">
      <div class="progress progress_k">
        <div class="progress-bar progress-bar-striped bg-ptg progress-bar-animated" role="progressbar"
          style="width: 30%" aria-valuenow="<%= step %>" aria-valuemin="0" aria-valuemax="<%= topStep %>"></div>
      </div>

      <h3 class="container-text feature-title-box">Indica cuántos médicos están de guardia cada día:</h3>


      <form action="/generarplanilla" method="post">
        <div class="form-group">
          <input type="hidden" name="step" value="<%= step %>">


          <select class="form-control filtro" size="1" type="number" name="medicosDeGuardia" required>
            <option disabled="" selected="" value="">Médicos por guardia</option>
            <% for (var i = 0; i < n_resis ; i++) { %>
            <option type="number" value="<%= i + 1 %>"><%= i + 1 %></option>
            <% } %>
          </select>



        </div>
        <button class="btn btn-ptg defaultsink" type="submit">Siguiente</button>
        <button class="btn btn-ptg" type="" name="botonAnterior" value="-1">Anterior</button>
        <button class="btn btn-ptg" type="submit">Siguiente</button>

      </form>
    </div>
  </div>
  <% } else if (step === 4) { %>
  <div class="container-fluid" id="contenedor_fest">
    <div class="container-md container_k">
      <div class="progress progress_k">
        <div class="progress-bar progress-bar-striped bg-ptg progress-bar-animated" role="progressbar"
          style="width: 40%" aria-valuenow="<%= step %>" aria-valuemin="0" aria-valuemax="<%= topStep %>"></div>
      </div>

      <h3 class="container-text feature-title-box">Indica los días festivos del mes:</h3>
      <h4 id="aviso" class="aviso"><%= aviso %></h4>
      <form action="/generarplanilla" method="post">
        <div class="form-group" id="reparto">

          <input type="hidden" name="step" value=<%= step %>>
          <input type="hidden" id="nombresArray" name="nombresArray" value=<%= nombre %>>

          <!-- Pendiente de meter tabla -->
          <table class="table table_k tabla">
            <thead>
              <tr>
                <% for (var i = 0; i < dias_mes + 1 ; i++) { %>
                <% if (i > 0) { %>
                <th scope="col">
                  <%= i %>
                </th>
                <% } else {%>
                <th scope="col"></th>
                <% }} %>
              </tr>
            </thead>

            <thead>
              <tr>
                <% for (var i = 0; i < dias_mes + 1 ; i++) { %>
                <% if (i > 0) { %>
                <th scope="col">
                  <%= weekArray[i-1] %>
                </th>
                <% } else {%>
                <th scope="col"></th>
                <% }} %>
              </tr>
            </thead>

            <tbody>
              <tr>
                <th scope="row">Festivos:</th>
                <% for (var j = 0; j < dias_mes ; j++) { %>
                <% var vsd = ['V','S','D'] %>

                <% if (vsd.includes(weekArray[j]) ) { %>
                <td>
                  <input class="checkboxSize" type="checkbox" value="1" id="Festivo_<%= j + 1 %>"
                    name="Festivo_<%= j + 1 %>" onclick="recalculate(this);" checked>
                </td>
                <% } else {%>
                <td>
                  <input class="checkboxSize" type="checkbox" value="1" id="Festivo_<%= j + 1 %>"
                    name="Festivo_<%= j + 1 %>" onclick="recalculate(this);">
                </td>
                <% } %>

                <% } %>
              </tr>
            </tbody>
          </table>

          <div style='margin-top: 30px'> </div>

          <h3 class="container-text feature-title-box">¿Cómo deseas que se repartan las guardias?</h3>

          <div class="settings">
            <label>Equitativamente</label>
            <label class="toggle">

              <input type="checkbox" id="toggle_1" onclick="toggle(this);" value="ON">
              <span class="slider"></span>
              <!--<span class="labels" data-on="Custom" data-off="Equitativamente"></span>-->

            </label>
            <label>Personalizado</label>
          </div>



          <div class="guardias-box-clear-orange col-lg-8 container-fluid" id="cajita_naranja">



            <div id="texto_1" class="ali_izq"></div>
            <br>
            <ol>
              <li id="texto_2" class="ali_izq"></li>
              <br>
              <li id="texto_3" class="ali_izq"></li>
            </ol>



          </div>
          <div id="formContainer"></div>


        </div>


        <script>
          var dias_mes_element = document.querySelectorAll('input[type="checkbox"]').length - 1;
          //var dias_mes_festivos = document.querySelectorAll('input[type="checkbox"]:checked').length;
          var n_resis = '<%= n_resis %>';
          var medicosDeGuardia = '<%= medicosDeGuardia %>';
          //Esto se ejecuta cada vez que hagas click en un checkbox de Festivos

          var reparto = document.getElementById("reparto");

          var v_guardias_max_tot = []
          var v_guardias_min_tot = []
          var v_guardias_max_fes = []
          var v_guardias_min_fes = []

          if (document.getElementById("toggle_1").value == "OFF") {
            var dias_mes_festivos = document.querySelectorAll('input[type="checkbox"]:checked').length - 1;
          } else if (document.getElementById("toggle_1").value == "ON") {
            var dias_mes_festivos = document.querySelectorAll('input[type="checkbox"]:checked').length;
          }

          var tg = medicosDeGuardia * dias_mes_element / n_resis;
          var tgf = medicosDeGuardia * dias_mes_festivos / n_resis;

          var dg_max = Math.ceil(tg);
          var dg_min = Math.floor(tg);
          var fg_max = Math.ceil(tgf);
          var fg_min = Math.floor(tgf);

          if (dg_min != dg_max) {
            document.getElementById("texto_1").innerHTML = ""
            document.getElementById("texto_2").innerHTML = "Cada médico cubrirá <b>" + dg_min + " o " + dg_max +
              " guardias en total.</b>";
          } else {
            document.getElementById("texto_1").innerHTML = ""
            document.getElementById("texto_2").innerHTML = "Cada médico cubrirá <b>" + dg_min +
              " guardias en total.</b>";
          }

          if (fg_max != fg_min) {
            document.getElementById("texto_1").innerHTML = ""
            document.getElementById("texto_3").innerHTML = "De las cuales, <b>" + fg_min + " o " + fg_max +
              " estarán repartidas entre en los días festivos</b> que has indicado.";
          } else {
            document.getElementById("texto_1").innerHTML = ""
            document.getElementById("texto_3").innerHTML = "De las cuales, <b>" + fg_min +
              " estarán repartidas entre en los días festivos</b> que has indicado.";
          }



          v_guardias_max_tot = Array(parseInt(n_resis)).fill(dg_max)
          v_guardias_min_tot = Array(parseInt(n_resis)).fill(dg_min)
          v_guardias_max_fes = Array(parseInt(n_resis)).fill(fg_max)
          v_guardias_min_fes = Array(parseInt(n_resis)).fill(fg_min)




          var reparto = document.getElementById("reparto");

          for (var i = 0; i < n_resis; i++) {
            var input_v_guardias_max_tot = document.createElement("input");
            input_v_guardias_max_tot.setAttribute("type", "hidden");
            input_v_guardias_max_tot.id = "v_guardias_max_tot";
            input_v_guardias_max_tot.setAttribute("name", "v_guardias_max_tot_" + i);
            input_v_guardias_max_tot.value = v_guardias_max_tot[i];
            reparto.appendChild(input_v_guardias_max_tot);

          }

          for (var i = 0; i < n_resis; i++) {
            var input_v_guardias_min_tot = document.createElement("input");
            input_v_guardias_min_tot.setAttribute("type", "hidden");
            input_v_guardias_min_tot.id = "v_guardias_min_tot";
            input_v_guardias_min_tot.setAttribute("name", "v_guardias_min_tot_" + i);
            input_v_guardias_min_tot.value = v_guardias_min_tot[i];
            reparto.appendChild(input_v_guardias_min_tot);

          }

          for (var i = 0; i < n_resis; i++) {
            var input_v_guardias_max_fes = document.createElement("input");
            input_v_guardias_max_fes.setAttribute("type", "hidden");
            input_v_guardias_max_fes.id = "v_guardias_max_fes";
            input_v_guardias_max_fes.setAttribute("name", "v_guardias_max_fes_" + i);
            input_v_guardias_max_fes.value = v_guardias_max_fes[i];
            reparto.appendChild(input_v_guardias_max_fes);

          }

          for (var i = 0; i < n_resis; i++) {
            var input_v_guardias_min_fes = document.createElement("input");
            input_v_guardias_min_fes.setAttribute("type", "hidden");
            input_v_guardias_min_fes.id = "v_guardias_min_fes";
            input_v_guardias_min_fes.setAttribute("name", "v_guardias_min_fes_" + i);
            input_v_guardias_min_fes.value = v_guardias_min_fes[i];
            reparto.appendChild(input_v_guardias_min_fes);

          }

          function recalcular_tot() {
            var guardias_asignadas = 0
            var n_resis = '<%= n_resis %>';
            var medicosDeGuardia = '<%= medicosDeGuardia %>';
            var dias_mes_element = document.querySelectorAll('input[type="checkbox"]').length - 1;

            for (var i = 0; i < n_resis - 1; i++) {
              var nombre_aux = "Nombre_tot_" + i
              guardias_asignadas += parseInt(document.getElementById("Nombre_tot_" + i).value)
            }

            var guardias_restantes = (medicosDeGuardia * dias_mes_element) - guardias_asignadas
            var nombre_aux_ult = "Nombre_tot_" + (n_resis - 1)
            var ult_tot = document.getElementById(nombre_aux_ult)
            ult_tot.value = guardias_restantes

            for (var i = 0; i < n_resis; i++) {

              v_guardias_max_tot[i] = document.getElementById("Nombre_tot_" + i).value
            }

            v_guardias_min_tot = v_guardias_max_tot


            creamosinputs();

            if (parseInt(document.getElementById("Nombre_tot_" + (n_resis - 1)).value) < 0) {
              document.getElementById("Nombre_tot_" + (n_resis - 1)).style.color = "red";
              document.getElementById("Nombre_tot_" + (n_resis - 1)).style.borderColor = "red";
            } else {
              document.getElementById("Nombre_tot_" + (n_resis - 1)).style.color = "black";
              document.getElementById("Nombre_tot_" + (n_resis - 1)).style.borderColor = "black";
            }
          }

          function recalcular_fes() {

            var guardias_asignadas = 0
            var n_resis = '<%= n_resis %>';
            var medicosDeGuardia = '<%= medicosDeGuardia %>';

            if (document.getElementById("toggle_1").value == "OFF") {
              var dias_mes_festivos = document.querySelectorAll('input[type="checkbox"]:checked').length - 1;
            } else if (document.getElementById("toggle_1").value == "ON") {
              var dias_mes_festivos = document.querySelectorAll('input[type="checkbox"]:checked').length;
            }

            for (var i = 0; i < n_resis - 1; i++) {
              var nombre_aux = "Nombre_fes_" + i
              guardias_asignadas += parseInt(document.getElementById("Nombre_fes_" + i).value)
            }

            var guardias_restantes = (medicosDeGuardia * dias_mes_festivos) - guardias_asignadas
            var nombre_aux_ult = "Nombre_fes_" + (n_resis - 1)
            var ult_fes = document.getElementById(nombre_aux_ult)
            ult_fes.value = guardias_restantes

            for (var i = 0; i < n_resis; i++) {

              v_guardias_max_fes[i] = document.getElementById("Nombre_fes_" + i).value
            }

            v_guardias_min_fes = v_guardias_max_fes

            console.log("Vectores resultantes:")
            console.log(v_guardias_max_tot)
            console.log(v_guardias_min_tot)
            console.log(v_guardias_max_fes)
            console.log(v_guardias_max_fes)

            creamosinputs();

            if (parseInt(document.getElementById("Nombre_fes_" + (n_resis - 1)).value) < 0) {
              document.getElementById("Nombre_fes_" + (n_resis - 1)).style.color = "red";
              document.getElementById("Nombre_fes_" + (n_resis - 1)).style.borderColor = "red";
            } else {
              document.getElementById("Nombre_fes_" + (n_resis - 1)).style.color = "black";
              document.getElementById("Nombre_fes_" + (n_resis - 1)).style.borderColor = "black";
            }
          }

          function creamosinputs() {
            var n_resis = '<%= n_resis %>';

            while (document.contains(document.getElementById("v_guardias_max_tot"))) {
              document.getElementById("v_guardias_max_tot").remove();
            }

            while (document.contains(document.getElementById("v_guardias_min_tot"))) {
              document.getElementById("v_guardias_min_tot").remove();
            }
            while (document.contains(document.getElementById("v_guardias_max_fes"))) {
              document.getElementById("v_guardias_max_fes").remove();
            }

            while (document.contains(document.getElementById("v_guardias_min_fes"))) {
              document.getElementById("v_guardias_min_fes").remove();
            }




            for (var i = 0; i < n_resis; i++) {
              var input_v_guardias_max_tot = document.createElement("input");
              input_v_guardias_max_tot.setAttribute("type", "hidden");
              input_v_guardias_max_tot.id = "v_guardias_max_tot";
              input_v_guardias_max_tot.setAttribute("name", "v_guardias_max_tot_" + i);
              input_v_guardias_max_tot.value = v_guardias_max_tot[i];
              reparto.appendChild(input_v_guardias_max_tot);

            }

            for (var i = 0; i < n_resis; i++) {
              var input_v_guardias_min_tot = document.createElement("input");
              input_v_guardias_min_tot.setAttribute("type", "hidden");
              input_v_guardias_min_tot.id = "v_guardias_min_tot";
              input_v_guardias_min_tot.setAttribute("name", "v_guardias_min_tot_" + i);
              input_v_guardias_min_tot.value = v_guardias_min_tot[i];
              reparto.appendChild(input_v_guardias_min_tot);

            }

            for (var i = 0; i < n_resis; i++) {
              var input_v_guardias_max_fes = document.createElement("input");
              input_v_guardias_max_fes.setAttribute("type", "hidden");
              input_v_guardias_max_fes.id = "v_guardias_max_fes";
              input_v_guardias_max_fes.setAttribute("name", "v_guardias_max_fes_" + i);
              input_v_guardias_max_fes.value = v_guardias_max_fes[i];
              reparto.appendChild(input_v_guardias_max_fes);

            }

            for (var i = 0; i < n_resis; i++) {
              var input_v_guardias_min_fes = document.createElement("input");
              input_v_guardias_min_fes.setAttribute("type", "hidden");
              input_v_guardias_min_fes.id = "v_guardias_min_fes";
              input_v_guardias_min_fes.setAttribute("name", "v_guardias_min_fes_" + i);
              input_v_guardias_min_fes.value = v_guardias_min_fes[i];
              reparto.appendChild(input_v_guardias_min_fes);

            }

          }

          function recalculate(checkbox) {


            // Calculamos el número de guardias totales del mes
            var dias_mes_element = document.querySelectorAll('input[type="checkbox"]').length - 1;
            var n_resis = '<%= n_resis %>';
            var medicosDeGuardia = '<%= medicosDeGuardia %>';


            for (var i = 0; i < n_resis; i++) {


              while (document.contains(document.getElementById("Nombre_tot_" + i))) {

                document.getElementById("Nombre_tot_" + i).remove();

              }
              while (document.contains(document.getElementById("Nombre_tot_label_" + i))) {
                document.getElementById("Nombre_tot_label_" + i).remove();
              }
              while (document.contains(document.getElementById("Nombre_fes_" + i))) {

                document.getElementById("Nombre_fes_" + i).remove();

              }
              while (document.contains(document.getElementById("Nombre_fes_label_" + i))) {
                document.getElementById("Nombre_fes_label_" + i).remove();
              }

            }

            while (document.contains(document.getElementById("form_id"))) {
              document.getElementById("form_id").remove();

            }


            // Calculamos el número de guardias en festivos totales del mes
            if (document.getElementById("toggle_1").value == "OFF") {
              var dias_mes_festivos = document.querySelectorAll('input[type="checkbox"]:checked').length - 1;
            } else if (document.getElementById("toggle_1").value == "ON") {
              var dias_mes_festivos = document.querySelectorAll('input[type="checkbox"]:checked').length;
            }

            var tg = medicosDeGuardia * dias_mes_element / n_resis;
            var tgf = medicosDeGuardia * dias_mes_festivos / n_resis;

            var dg_max = Math.ceil(tg);
            var dg_min = Math.floor(tg);
            var fg_max = Math.ceil(tgf);
            var fg_min = Math.floor(tgf);

            //Dependiendo del modo, se generan los vectores de una forma o de otra

            if (document.getElementById("toggle_1").value == "OFF") {
              //Lo que ocurre cuando le damos a un festivo y es tamos en modo Personalizado
              // Create form container
              let formContainer = document.getElementById("formContainer");
              let form = document.createElement("form");
              form.setAttribute("id", "form_id");

              let nombresArray = document.getElementById("nombresArray").value;
              var nameArr = nombresArray.split(',');

              if (medicosDeGuardia > 1) {
                document.getElementById("texto_1").innerHTML = "<b>Deberás repartir las " + dias_mes_element +
                  " guardias entre los " + n_resis + " médicos.</b> Recuerda que has indicado que habrá " +
                  medicosDeGuardia + " médicos de guardia cada noche.";
              } else {
                document.getElementById("texto_1").innerHTML = "<b>Deberás repartir las " + dias_mes_element +
                  " guardias entre los " + n_resis + " médicos.</b> Recuerda que has indicado que habrá " +
                  medicosDeGuardia + " médico de guardia cada noche.";
              }

              document.getElementById("texto_2").innerHTML =
                "Indica <b>exactamente el número de guardias que quieres que haga cada médico </b>en el mes.";
              document.getElementById("texto_3").innerHTML =
                "Debajo, <b>indica cuántas de esas guardias estarán repartidas entre en los días festivos (" +
                dias_mes_festivos + ")</b> que has indicado arriba.";


              form.appendChild(document.createElement("br"));

              //Creamos los inputs TOTALES
              let tit_tot = document.createElement("p");
              tit_tot.setAttribute("class", "titulin");
              tit_tot.innerHTML = '1. Guardias totales en el mes: ';

              form.appendChild(tit_tot);

              for (var i = 0; i < n_resis; i++) {

                var nombre = nameArr[i]

                var label1 = document.createElement("label");
                label1.innerHTML = nombre + ':  ';
                label1.setAttribute("for", "Nombre_tot_" + i);
                label1.setAttribute("id", "Nombre_tot_label_" + i);

                let input1 = document.createElement("input");
                input1.setAttribute("type", "number");
                input1.setAttribute("id", "Nombre_tot_" + i);
                input1.setAttribute("name", "Nombre_tot_" + i);
                input1.setAttribute("min", "0");
                input1.setAttribute("max", dias_mes_element);
                input1.setAttribute("value", dg_min);
                input1.required = true;

                if (i == n_resis - 1) {
                  input1.setAttribute("readonly", "readonly");
                } else {
                  input1.setAttribute("onchange", "recalcular_tot()");
                }



                form.appendChild(label1);
                form.appendChild(input1);

                form.appendChild(document.createElement("br"));
              }

              formContainer.appendChild(form);

              var guardias_asignadas = 0
              for (var i = 0; i < n_resis - 1; i++) {
                var nombre_aux = "Nombre_tot_" + i
                guardias_asignadas += parseInt(document.getElementById("Nombre_tot_" + i).value)
              }

              var guardias_restantes = (medicosDeGuardia * dias_mes_element) - guardias_asignadas
              var nombre_aux_ult = "Nombre_tot_" + (n_resis - 1)
              var ult_tot = document.getElementById(nombre_aux_ult)
              ult_tot.value = guardias_restantes

              //Creamos los inputs FESTIVOS
              form.appendChild(document.createElement("br"));
              let tit_fes = document.createElement("p");
              tit_fes.setAttribute("class", "titulin");
              tit_fes.innerHTML = '2. Guardias en los festivos indicados: ';

              form.appendChild(tit_fes);

              for (var i = 0; i < n_resis; i++) {

                var nombre = nameArr[i]

                var label1 = document.createElement("label");
                label1.innerHTML = nombre + ':  ';
                label1.setAttribute("for", "Nombre_fes_" + i);
                label1.setAttribute("id", "Nombre_fes_label_" + i);

                let input1 = document.createElement("input");
                input1.setAttribute("type", "number");
                input1.setAttribute("id", "Nombre_fes_" + i);
                input1.setAttribute("name", "Nombre_fes_" + i);
                input1.setAttribute("min", "0");
                input1.setAttribute("max", dias_mes_festivos);
                input1.setAttribute("value", fg_min);
                input1.required = true;

                if (i == n_resis - 1) {
                  input1.setAttribute("readonly", "readonly");
                } else {
                  input1.setAttribute("onchange", "recalcular_fes()");
                }



                form.appendChild(label1);
                form.appendChild(input1);

                form.appendChild(document.createElement("br"));
              }

              formContainer.appendChild(form);

              var guardias_asignadas = 0
              for (var i = 0; i < n_resis - 1; i++) {
                var nombre_aux = "Nombre_fes_" + i
                guardias_asignadas += parseInt(document.getElementById("Nombre_fes_" + i).value)
              }

              var guardias_restantes = (medicosDeGuardia * dias_mes_festivos) - guardias_asignadas
              var nombre_aux_ult = "Nombre_fes_" + (n_resis - 1)
              var ult_fes = document.getElementById(nombre_aux_ult)
              ult_fes.value = guardias_restantes


              //Creamos las variables que vamos a pasar al servidor:


              for (var i = 0; i < n_resis; i++) {

                v_guardias_max_tot[i] = document.getElementById("Nombre_tot_" + i).value
                v_guardias_max_fes[i] = document.getElementById("Nombre_fes_" + i).value
              }

              v_guardias_min_tot = v_guardias_max_tot
              v_guardias_min_fes = v_guardias_max_fes

              console.log("Vectores resultantes:")
              console.log(v_guardias_max_tot)
              console.log(v_guardias_min_tot)
              console.log(v_guardias_max_fes)
              console.log(v_guardias_max_fes)


            } else if (document.getElementById("toggle_1").value == "ON") {
              //Lo que ocurre cuando le damos a un festivo y es tamos en modo Equitativo




              if (dg_min != dg_max) {
                document.getElementById("texto_1").innerHTML = ""
                document.getElementById("texto_2").innerHTML = "Cada médico cubrirá <b>" + dg_min + " o " + dg_max +
                  " guardias en total.</b>";
              } else {
                document.getElementById("texto_1").innerHTML = ""
                document.getElementById("texto_2").innerHTML = "Cada médico cubrirá <b>" + dg_min +
                  " guardias en total.</b>";
              }

              if (fg_max != fg_min) {
                document.getElementById("texto_1").innerHTML = ""
                document.getElementById("texto_3").innerHTML = "De las cuales, <b>" + fg_min + " o " + fg_max +
                  " estarán repartidas entre en los días festivos</b> que has indicado.";
              } else {
                document.getElementById("texto_1").innerHTML = ""
                document.getElementById("texto_3").innerHTML = "De las cuales, <b>" + fg_min +
                  " estarán repartidas entre en los días festivos</b> que has indicado.";
              }



              v_guardias_max_tot = Array(parseInt(n_resis)).fill(dg_max)
              v_guardias_min_tot = Array(parseInt(n_resis)).fill(dg_min)
              v_guardias_max_fes = Array(parseInt(n_resis)).fill(fg_max)
              v_guardias_min_fes = Array(parseInt(n_resis)).fill(fg_min)

            }

            creamosinputs()


          }


          function toggle(checkbox) {

            //Borramos las cajas existentes
            while (document.contains(document.getElementById("Guardias_pers_tot"))) {
              document.getElementById("Guardias_pers_tot").remove();
            }
            //Borramos las cajas existentes
            while (document.contains(document.getElementById("Guardias_pers_fes"))) {
              document.getElementById("Guardias_pers_fes").remove();
            }

            //Borramos los vectores predefinidos
            while (document.contains(document.getElementById("v_guardias_max_tot"))) {
              document.getElementById("v_guardias_max_tot").remove();
            }

            while (document.contains(document.getElementById("v_guardias_min_tot"))) {
              document.getElementById("v_guardias_min_tot").remove();
            }
            while (document.contains(document.getElementById("v_guardias_max_fes"))) {
              document.getElementById("v_guardias_max_fes").remove();
            }

            while (document.contains(document.getElementById("v_guardias_min_fes"))) {
              document.getElementById("v_guardias_min_fes").remove();
            }

            //Esto se ejecuta cuando le damos al toggle button
            if (document.getElementById("toggle_1").value == "OFF") {
              document.getElementById("toggle_1").value = "ON";
              //document.getElementById("cajita_naranja").style.display = "block";

              recalculate(checkbox);


            } else if (document.getElementById("toggle_1").value == "ON") {
              document.getElementById("toggle_1").value = "OFF";
              //document.getElementById("cajita_naranja").style.display = "none";
              recalculate(checkbox);
            }

          }
        </script>


        <button class="btn btn-ptg defaultsink" type="submit">Siguiente</button>
        <button class="btn btn-ptg" type="" name="botonAnterior" value="-1">Anterior</button>
        <button class="btn btn-ptg" type="submit">Siguiente</button>
      </form>
    </div>
  </div>
  <% } else if (step === 5) { %>
  <div class="container-fluid" id="contenedor">
    <div class="container-md container_k">
      <div class="progress progress_k">
        <div class="progress-bar progress-bar-striped bg-ptg progress-bar-animated" role="progressbar"
          style="width: 50%" aria-valuenow="<%= step %>" aria-valuemin="0" aria-valuemax="<%= topStep %>"></div>
      </div>

      <h3 class="container-text feature-title-box">Indica las guardias que ya habéis asignado:</h3>
      <h5>Estas guardias se forzarán al día y médico correspondiente</h5>
      <h4 id="aviso" class="aviso"><%= aviso %></h4>
      <form action="/generarplanilla" method="POST">
        <div class="form-group">
          <input type="hidden" name="step" value=<%= step %>>


          <!-- Pendiente de meter tabla -->
          <table class="table table_k">
            <thead>
              <tr>
                <% for (var i = 0; i < dias_mes + 1 ; i++) { %>
                <% if (i > 0) { %>
                <th scope="col">
                  <%= i %>
                </th>
                <% } else {%>
                <th scope="col"></th>
                <% }} %>
              </tr>
            </thead>

            <thead>
              <tr>
                <% for (var i = 0; i < dias_mes + 1 ; i++) { %>
                <% if (i > 0) { %>
                <th scope="col">
                  <%= weekArray[i-1] %>
                </th>
                <% } else {%>
                <th scope="col"></th>
                <% }} %>
              </tr>
            </thead>

            <tbody>
              <% for (var i = 0; i < n_resis ; i++) {%>
              <tr>
                <th scope="row"><%= nombre[i] %> </th>
                <% for (var j = 0; j < dias_mes ; j++) { %>
                <td>
                  <input class="checkboxSize" type="checkbox" value=1 name="Asignado_<%=nombre[i]%>_<%=j + 1%>"
                    id="Asignado_<%=nombre[i]%>_<%=j + 1%>">
                </td>
                <% } %>
              </tr>
              <% } %>

            </tbody>
          </table>

        </div>
        <button class="btn btn-ptg defaultsink" type="submit">Siguiente</button>
        <button class="btn btn-ptg" type="" name="botonAnterior" value="-1">Anterior</button>
        <button class="btn btn-ptg" type="submit">Siguiente</button>
      </form>

      <script>
        function spliceIntoChunks(arr, chunkSize) {
          const res = [];
          while (arr.length > 0) {
            const chunk = arr.splice(0, chunkSize);
            res.push(chunk);
          }
          return res;
        }
        let dias_mes = '<%= dias_mes %>'
        let guardiasMatrix = '<%= guardiasMatrix %>'
        let guardiasMatrix_array = guardiasMatrix.split(",")
        let guardiasMatrix_array_2 = spliceIntoChunks(guardiasMatrix_array, dias_mes)

        console.log(guardiasMatrix_array_2)

        nombres = '<%= nombre %>'
        nombres_array = nombres.split(",")


        if (guardiasMatrix_array_2.length > 1) {


          for (var j = 0; j < nombres_array.length; j++) {
            let limit = Math.min(dias_mes, guardiasMatrix_array_2[j].length)

            for (var i = 0; i < limit; i++) {

              let id = "Asignado_" + nombres_array[j] + "_" + (i + 1)

              if (guardiasMatrix_array_2[j][i] == '1') {
                console.log(id)
                document.getElementById(id).checked = true
              }


            }
          }

        }
      </script>
    </div>
  </div>
  <% } else if (step === 6) { %>
  <div class="container-fluid" id="contenedor">
    <div class="container-md container_k">
      <div class="progress progress_k">
        <div class="progress-bar progress-bar-striped bg-ptg progress-bar-animated" role="progressbar"
          style="width: 60%" aria-valuenow="<%= step %>" aria-valuemin="0" aria-valuemax="<%= topStep %>"></div>
      </div>

      <h3 class="container-text feature-title-box">Indica los días de vacaciones / libranza:</h3>
      <h5>En estos días no asignaremos guardias</h5>
      <h4 id="aviso" class="aviso"><%= aviso %></h4>
      <form action="/generarplanilla" method="POST">
        <div class="form-group">
          <input type="hidden" name="step" value=<%= step %>>

          <!-- Pendiente de meter tabla -->
          <table class="table">
            <thead>
              <tr>
                <% for (var i = 0; i < dias_mes + 1 ; i++) { %>
                <% if (i > 0) { %>
                <th scope="col">
                  <%= i %>
                </th>
                <% } else {%>
                <th scope="col"></th>
                <% }} %>
              </tr>
            </thead>

            <thead>
              <tr>
                <% for (var i = 0; i < dias_mes + 1 ; i++) { %>
                <% if (i > 0) { %>
                <th scope="col">
                  <%= weekArray[i-1] %>
                </th>
                <% } else {%>
                <th scope="col"></th>
                <% }} %>
              </tr>
            </thead>

            <tbody>
              <% for (var i = 0; i < n_resis ; i++) {%>
              <tr>
                <th scope="row"><%= nombre[i] %> </th>
                <% for (var j = 0; j < dias_mes ; j++) { %>
                <td>
                  <input class="checkboxSize" type="checkbox" value=1 name="Vacaciones_<%=nombre[i]%>_<%=j + 1%>"
                    id="Vacaciones_<%=nombre[i]%>_<%=j + 1%>">
                </td>
                <% } %>
              </tr>
              <% } %>

            </tbody>
          </table>

        </div>
        <button class="btn btn-ptg defaultsink" type="submit">Siguiente</button>
        <button class="btn btn-ptg" type="" name="botonAnterior" value="-1">Anterior</button>
        <button class="btn btn-ptg" type="submit">Siguiente</button>
      </form>
      <script>
        function spliceIntoChunks(arr, chunkSize) {
          const res = [];
          while (arr.length > 0) {
            const chunk = arr.splice(0, chunkSize);
            res.push(chunk);
          }
          return res;
        }

        let dias_mes_vac = '<%= dias_mes %>'
        let vacacionesMatrix = '<%= vacacionesMatrix %>'
        let vacacionesMatrix_array = vacacionesMatrix.split(",")
        let vacacionesMatrix_array_2 = spliceIntoChunks(vacacionesMatrix_array, dias_mes_vac)

        console.log(vacacionesMatrix_array_2)

        nombres = '<%= nombre %>'
        nombres_array = nombres.split(",")


        if (vacacionesMatrix_array_2.length > 1) {


          for (var j = 0; j < nombres_array.length; j++) {
            let limit = Math.min(dias_mes_vac, vacacionesMatrix_array_2[j].length)

            for (var i = 0; i < limit; i++) {

              let id = "Vacaciones_" + nombres_array[j] + "_" + (i + 1)

              if (vacacionesMatrix_array_2[j][i] == '1') {
                console.log(id)
                document.getElementById(id).checked = true
              }


            }
          }

        }
      </script>
    </div>
  </div>

  <% } else if (step === 7) { %>
  <div class="container-fluid" id="contenedor">
    <div class="container-md container_k">
      <div class="progress progress_k">
        <div class="progress-bar progress-bar-striped bg-ptg progress-bar-animated" role="progressbar"
          style="width: 70%" aria-valuenow="<%= step %>" aria-valuemin="0" aria-valuemax="<%= topStep %>"></div>
      </div>
      <h4 id="aviso" class="aviso"><%= aviso %></h4>

      <h3 class="container-text feature-title-box">Reparte en grupos a los médicos y di quién va con quién:</h3>
      <label class="filtro">Si no deseas aplicar esta configuración, sólo dale al
        botón "Siguiente"</label>

      <p class="titulin">1. Reparte en grupos a los médicos</p>
      <div id="formContainer">

        <% for (var i = 0; i < n_resis ; i++) { %>

        <label class="label_form" for="Grupo_<%=nombre[i]%>"><%=nombre[i]%>: </label>
        <select class="form-control filtro" size="1" name="Grupo_<%=nombre[i]%>" id="Grupo_<%=nombre[i]%>"
          onchange="cambiarArray()">
          <% for (var j = 0; j < n_resis ; j++) { %>
          <option value="Grupo <%= j +1%>">Grupo <%= j+1 %></option>
          <% } %>

        </select>

        <% } %>

      </div>


      <br>
      <p class="titulin">2. Establece las relaciones</p>


      <div class="guardias-box-clear-orange-max col-lg-8 container-fluid" id="cajita_naranja">

        <div id="texto_1" class="ali_izq">Añade todas las reglas que necesites haciendo click en +. <br><br> <b>En la
            misma
            guardia... </b></div>
        <br>

        <div class="container">
          <div class="row">
            <div class="col-xs-12">

              <!-- Start of item 1 -->
              <div class="item list-group-item">
                <div class="item-left">
                  <b>
                    ...si hay alguien del
                    <select class="form-control-normas filtro" size="1" name="Norma_1_A" id="Norma_1_A">
                      <% for (var j = 0; j < n_resis ; j++) { %>
                      <option value="Grupo <%= j +1%>">Grupo <%= j+1 %></option>
                      <% } %>

                    </select>
                    , se forzará que siempre haya alguien del
                    <select class="form-control-normas filtro" size="1" name="Norma_1_B" id="Norma_1_B">
                      <% for (var j = 0; j < n_resis ; j++) { %>
                      <option value="Grupo <%= j +1%>">Grupo <%= j+1 %></option>
                      <% } %>

                    </select>
                    , pero no al revés.</b>
                  <color-orange> (Ej: Si hay un R1 de guardia se fuerza que haya un R4, pero no al revés)</color-orange>

                </div>
                <div class="item-right">
                  <button class="btn btn-ptg-naranja-no-margin" onclick="valorEnArray('1')"><i class="fa-solid fa-plus"
                      style="color: #ffffff;"></i></button>
                </div>
              </div>
              <br>
              <!-- End of item 1 -->

              <!-- Start of item 2 -->
              <div class="item list-group-item">
                <div class="item-left">
                  <b>
                    ...si hay algún médico del
                    <select class="form-control-normas filtro" size="1" name="Norma_2_A" id="Norma_2_A">
                      <% for (var j = 0; j < n_resis ; j++) { %>
                      <option value="Grupo <%= j +1%>">Grupo <%= j+1 %></option>
                      <% } %>

                    </select>
                    , nunca coincidirá con nadie del
                    <select class="form-control-normas filtro" size="1" name="Norma_2_B" id="Norma_2_B">
                      <% for (var j = 0; j < n_resis ; j++) { %>
                      <option value="Grupo <%= j +1%>">Grupo <%= j+1 %></option>
                      <% } %>

                    </select>
                    y viceversa.</b>
                  <color-orange> (Ej: Los R3 y los R4 nunca coincidirán en la misma guardia)</color-orange>

                </div>
                <div class="item-right">
                  <button class="btn btn-ptg-naranja-no-margin" onclick="valorEnArray('2')"><i class="fa-solid fa-plus"
                      style="color: #ffffff;"></i></button>
                </div>
              </div>
              <br>
              <!-- End of item 2 -->


              <!-- Start of item 3 -->
              <div class="item list-group-item">
                <div class="item-left">
                  <b>
                    ...siempre habrá algún médico del
                    <select class="form-control-normas filtro" size="1" name="Norma_3_A" id="Norma_3_A">
                      <% for (var j = 0; j < n_resis ; j++) { %>
                      <option value="Grupo <%= j +1%>">Grupo <%= j+1 %></option>
                      <% } %>

                    </select>
                  </b>
                  <color-orange>. (Ej: Siempre habrá un R4 de guardia)</color-orange>
                </div>
                <div class="item-right">
                  <button class="btn btn-ptg-naranja-no-margin" onclick="valorEnArray('3')"><i class="fa-solid fa-plus"
                      style="color: #ffffff;"></i></button>
                </div>
              </div>
              <br>
              <!-- End of item 3 -->

              <!-- Start of item 4 -->
              <div class="item list-group-item">
                <div class="item-left">
                  <b>
                    ...nunca coincidirá más de un médico del
                    <select class="form-control-normas filtro" size="1" name="Norma_4_A" id="Norma_4_A">
                      <% for (var j = 0; j < n_resis ; j++) { %>
                      <option value="Grupo <%= j +1%>">Grupo <%= j+1 %></option>
                      <% } %>

                    </select>
                  </b>
                  <color-orange>. (Ej: Nunca habrá más de un R4 de guardia)</color-orange>
                </div>
                <div class="item-right">
                  <button class="btn btn-ptg-naranja-no-margin" onclick="valorEnArray('4')"><i class="fa-solid fa-plus"
                      style="color: #ffffff;"></i></button>
                </div>
              </div>
              <br>
              <!-- End of item 4 -->
            </div>
          </div>
        </div>

      </div>

      <br>
      <div class="guardias-box-clear-green-max col-lg-8 container-fluid" id="cajita_naranja">


        <div id="texto_fin" class="ali_izq">Estas son las condiciones que has solicitado: <br><br><b> En la misma
            guardia...</b></div>

        <br>

        <div class="container">
          <div class="row">
            <div class="col-xs-12" id='listado_normas'>


            </div>
          </div>
        </div>

      </div>
      <form action="/generarplanilla" method="POST">
        <div class="form-group">
          <input type="hidden" name="step" value="<%= step %>">
          <input type="hidden" name="arrayGroups" id="arrayGroups">
          <input type="hidden" name="arrayNormas" id="arrayNormas">

        </div>



        <button class="btn btn-ptg defaultsink" type="submit">Siguiente</button>
        <button class="btn btn-ptg" type="" name="botonAnterior" value="-1">Anterior</button>
        <button class="btn btn-ptg" type="submit">Siguiente</button>
      </form>
    </div>

    <script type="text/javascript">
      let arrayGroups = [];
      let nombresArray = '<%= nombre %>';
      var nameArr = nombresArray.split(',');
      let n_resis = '<%= n_resis%>';
      let arrayNormas_pre = '<%= arrayNormas %>';
      let arrayNormas = arrayNormas_pre.split(',');
      if (arrayNormas[0] == '') {

        arrayNormas = []
      }

      for (var i = 0; i < parseInt(n_resis); i++) {
        // Generamos un array con los grupos de los médicos nada más empezar

        arrayGroups[i] = document.getElementById("Grupo_" + nameArr[i]).value

      }

      document.getElementById("arrayGroups").value = arrayGroups
      console.log(document.getElementById("arrayGroups").value)
      actualizarNormas()

      function cambiarArray() {

        // Cambiamos el array con los grupos de los médicos al cambiar alguno de los selectores
        let arrayGroups = [];
        let nombresArray = '<%= nombre %>';
        var nameArr = nombresArray.split(',');

        for (var i = 0; i < parseInt(n_resis); i++) {

          arrayGroups[i] = document.getElementById("Grupo_" + nameArr[i]).value

        }

        document.getElementById("arrayGroups").value = arrayGroups
        console.log(document.getElementById("arrayGroups").value)

      }

      function valorEnArray(norma) {

        let nombresArray = '<%= nombre %>';

        var nameArr = nombresArray.split(',');
        let codigo = ''
        let codigo_a = ''
        let codigo_b = ''

        //meter un switch para que según la norma cree un código
        switch (norma) {
          case '1':
            codigo_a = 'Norma_' + norma + '_A'
            codigo_b = 'Norma_' + norma + '_B'
            largo_a = 6 - document.getElementById(codigo_a).value.length
            largo_b = 6 - document.getElementById(codigo_b).value.length
            codigo = norma + '_' + document.getElementById(codigo_a).value.substr(largo_a) + '_' + document
              .getElementById(codigo_b).value.substr(largo_b)

            break;

          case '2':
            codigo_a = 'Norma_' + norma + '_A'
            codigo_b = 'Norma_' + norma + '_B'
            largo_a = 6 - document.getElementById(codigo_a).value.length
            largo_b = 6 - document.getElementById(codigo_b).value.length
            codigo = norma + '_' + document.getElementById(codigo_a).value.substr(largo_a) + '_' + document
              .getElementById(codigo_b).value.substr(largo_b)

            break;

          case '3':
            codigo_a = 'Norma_' + norma + '_A'

            largo_a = 6 - document.getElementById(codigo_a).value.length
            codigo = norma + '_' + document.getElementById(codigo_a).value.substr(largo_a)

            break;
          case '4':
            codigo_a = 'Norma_' + norma + '_A'

            largo_a = 6 - document.getElementById(codigo_a).value.length
            codigo = norma + '_' + document.getElementById(codigo_a).value.substr(largo_a)

            break;
          default:
            console.log(`Sorry, we are out of ${norma}.`);
        }
        //hacer push del código en arrayNormas
        arrayNormas[arrayNormas.length] = codigo;



        //actualizar la caja final

        actualizarNormas()


      }

      function actualizarNormas() {
        document.getElementById("arrayNormas").value = arrayNormas
        let bucle = arrayNormas.length
        console.log(bucle)

        var listado_normas = document.getElementById('listado_normas')
        var texto_fin = document.getElementById('texto_fin')
        if (bucle == 0) {
          texto_fin.innerHTML = "Todavía no has incluido ninguna condición"
        } else {

          texto_fin.innerHTML = "Estas son las normas que has solicitado: <br><br><b> En la misma guardia...</b>"
        }

        while (listado_normas.hasChildNodes()) {
          listado_normas.removeChild(listado_normas.firstChild)
        }

        for (let i = 0; i < bucle; i++) {
          // Create a new item
          var newItem = document.createElement('div');
          newItem.setAttribute('class', 'item list-group-item');


          var newItemLeft = document.createElement('div');
          newItemLeft.setAttribute('class', 'titulin');
          newItemLeft.classList.add('item-left');



          let arrayNormas_split = arrayNormas[i].split('_')
          //console.log(arrayNormas_split)
          switch (arrayNormas_split[0]) {
            case '1':
              newItemLeft.innerHTML = '...si hay alguien del Grupo ' + arrayNormas_split[1] +
                ', se forzará que siempre haya alguien del Grupo ' + arrayNormas_split[2] + ', pero no al revés'

              break;

            case '2':
              newItemLeft.innerHTML = '...si hay algún médico del Grupo ' + arrayNormas_split[1] +
                ', nunca coincidirá con nadie del Grupo ' + arrayNormas_split[2] + ' y viceversa'

              break;

            case '3':
              newItemLeft.innerHTML = '...siempre habrá algún médico del Grupo ' + arrayNormas_split[1]

              break;
            case '4':
              newItemLeft.innerHTML = '...nunca coincidirá más de un médico del Grupo ' + arrayNormas_split[1]
              break;
            default:
              console.log('Ha habido un error');
          }


          var newItemRight = document.createElement('div');
          newItemRight.classList.add('item-right');

          var newItemRightButton = document.createElement('button');
          newItemRightButton.classList.add('btn');
          newItemRightButton.classList.add('btn-ptg-naranja-no-margin');
          newItemRightButton.setAttribute('onclick', 'eliminarNorma(' + i + ')');
          newItemRightButton.innerHTML = '<i class="fa-regular fa-trash-can"></i>';

          newItemRight.appendChild(newItemRightButton);

          newItem.appendChild(newItemLeft);
          newItem.appendChild(newItemRight);

          // Add the new item to the item list

          listado_normas.appendChild(newItem)

        }
        console.log(arrayNormas)


      }

      function eliminarNorma(norma) {
        //norma será la posición del elemento a eliminar. Por lo que cada botón tendrá que pasar un valor según su posición en el vector 
        arrayNormas.splice(norma, 1); // 2nd parameter means remove one item only
        document.getElementById("arrayNormas").value = arrayNormas
        actualizarNormas()
        return 0
      }
    </script>
  </div>


  <% } else if (step === 8) { %>
  <div class="container-fluid" id="contenedor">
    <div class="container-md container_k">
      <div class="progress progress_k">
        <div class="progress-bar progress-bar-striped bg-ptg progress-bar-animated" role="progressbar"
          style="width: 80%" aria-valuenow="<%= step %>" aria-valuemin="0" aria-valuemax="<%= topStep %>"></div>
      </div>

      <h3 class="container-text feature-title-box">Déjanos saber si tienes alguna condición que no estemos contemplando
        o una sugerencia y lo tendremos en cuenta:</h3>


      <form action="/generarplanilla" method="POST">
        <div class="form-group">
          <input type="hidden" name="step" value="<%= step %>">
        </div>

        <div class="form-group">
          <label class="filtro titulin" for="exampleFormControlTextarea1">Ejemplo: En mi servicio necesitamos
            que,...</label>
          <textarea class="form-control filtro" name="comentario" rows="3"></textarea>
        </div>

        <button class="btn btn-ptg defaultsink" type="submit">Siguiente</button>
        <button class="btn btn-ptg" type="" name="botonAnterior" value="-1">Anterior</button>
        <button class="btn btn-ptg" type="submit">Siguiente</button>
      </form>
    </div>
  </div>

  <% } else if (step === 9) { %>
  <div class="container-fluid" id="contenedor">
    <div class="container-md container_k">
      <div class="progress progress_k">
        <div class="progress-bar progress-bar-striped bg-ptg progress-bar-animated" role="progressbar"
          style="width: 90%" aria-valuenow="<%= step %>" aria-valuemin="0" aria-valuemax="<%= topStep %>"></div>
      </div>

      <h3 class="container-text feature-title-box"> Por último, indícanos un correo:<br> </h3>

      <form action="/generarplanilla" method="POST">
        <div class="form-group">
          <input type="hidden" name="step" value="<%= step %>">



          <input class="filtro" type="text" placeholder="Escribe tu email" name="correo" class="form-control"
            id="exampleInputEmail1" aria-describedby="emailHelp" required>
          <small id="emailHelp" class="form-text text-muted">No compartimos información con terceros.</small>

        </div>
        <button class="btn btn-ptg defaultsink" type="submit">Finalizar</button>
        <button class="btn btn-ptg" type="" name="botonAnterior" value="-1">Anterior</button>
        <button class="btn btn-ptg" type="submit">Finalizar</button>
      </form>

    </div>


  </div>



  <% } else if (step === 10) { %>
  <div class="container-fluid" id="contenedor">
    <div class="container-md container_k">
      <div class="progress progress_k">
        <div class="progress-bar progress-bar-striped bg-ptg progress-bar-animated" role="progressbar"
          style="width: 100%" aria-valuenow="<%= step %>" aria-valuemin="0" aria-valuemax="<%= topStep %>"></div>
      </div>


      <h3 class="container-text feature-title-box">¡Muchas gracias por completar el formulario!</h3>
      <h3 class="container-text feature-title-box">Estamos generando tu planilla. Danos unos segundos...</h3>

      <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>

      <form action="/mostrarSolucion" method="GET" id="formulario_final" name="formulario_final">

        <button class="btn btn-ptg defaultsink" type="">Mostrar resultado</button>
      </form>
      <script type="text/javascript">
        console.log("Estamos antes del onload")
        var auto_refresh = setTimeout(function () {
          submitform();
        }, 1500);

        function submitform() {
          document.getElementById("formulario_final").submit();
        }
      </script>
    </div>
  </div>

  <% } %>
  <% } %>
</section>