<!-- FORM -->


<section class="colored-section" id="form">

  <% if (step === 0) { %>
  <div class="container-fluid">

    <h3 class="big-heading-white">Prueba a obtener tu primera planilla</h3>

    <form action="/generarplanilla" method="post">
      <input type="hidden" name="step" value="<%= step %>">
      <button class="btn btn-outline-light btn-lg download-button filtro" type="submit">Empezar</button>
    </form>

  </div>

  <% } else if (step > 0) { %>


  <% if (step === 1) { %>
  <div class="container-fluid" id="contenedor">
    <div class="container-md container_k">
      <div class="progress progress_k">
        <div class="progress-bar progress-bar-striped bg-ptg progress-bar-animated" role="progressbar" style="width: 10%" aria-valuenow="<%= step %>" aria-valuemin="0" aria-valuemax="<%= topStep %>"></div>
      </div>

      <h3 class=" container-text feature-title-box">Indica el mes y el año de la planilla:</h3>

      <form action="/generarplanilla" method="post">
        <div class="form-group">
          <input type="hidden" name="step" value="<%= step %>">

          <select class="form-control filtro" size="1" name="mes" required>
            <option disabled="" selected="" value="">Mes</option>
            <% for (var i = 0; i < 12 ; i++) { %>
            <option value="<%= meses[i] %>"><%= meses[i] %></option>
            <% } %>

          </select>

          <select class="form-control filtro"  size="1" name="anyo" required>
            <option disabled="" selected="" value="">Año</option>
            <% for (var i = 0; i < anyosLength ; i++) { %>
            <option value="<%= anyos[i] %>"><%= anyos[i] %></option>
            <% } %>

          </select>
        </div>

        <button class="btn btn-ptg" type="submit">Siguiente</button>

      </form>
    </div>


  </div>
  <% } else if (step === 2) { %>
  <div class="container-fluid" id="contenedor">
    <div class="container-md container_k">
      <div class="progress progress_k">
        <div class="progress-bar progress-bar-striped bg-ptg progress-bar-animated" role="progressbar" style="width: 20%" aria-valuenow="<%= step %>" aria-valuemin="0" aria-valuemax="<%= topStep %>"></div>
      </div>


      <h3 class="container-text feature-title-box">Indica el nº de médicos y sus nombres:</h3>

      <form action="/generarplanilla" method="post">
        <div class="form-group" id="divi">
          <input type="hidden" name="step" value=<%= step %>>

          <input class ="filtro" size="1" type="number" min="3" id="n_resis" onchange="pregunta_nombres()" autocomplete="off" class="form-control" name="n_resis" placeholder="Nº médicos" required>

          <br />
          <br />

          <!-- Se pregunta por el nombre de los residentes -->

          <script>
            function pregunta_nombres() {

              while (document.contains(document.getElementById("nombre"))) {
                document.getElementById("nombre").remove();
              }

              var n_resis = document.getElementById("n_resis");
              var n_resis_value = n_resis.value;
              var divi = document.getElementById("divi");

              // Crea las celdas
              for (var i = 0; i < n_resis_value; i++) {
                var input = document.createElement("input");
                input.setAttribute("type", "text");
                input.id = "nombre";
                input.setAttribute("name", "Nombre_" + i);
                input.setAttribute("class", "form-control filtro");
                input.setAttribute("placeholder", "Nombre");
                input.required = true;
                divi.appendChild(input);
              }

            }
          </script>
          <noscript>¡Ha habido un error! Prueba a abrir la web desde Google Chrome.</noscript>

        </div>
        <button class="btn btn-ptg defaultsink" type="submit">Siguiente</button>
        <button class="btn btn-ptg" type="" name="botonAnterior" value="-1">Anterior</button>
        <button class="btn btn-ptg" type="submit">Siguiente</button>

      </form>
    </div>
  </div>
  <% } else if (step === 3) { %>
  <div class="container-fluid" id="contenedor">
    <div class="container-md container_k">
      <div class="progress progress_k">
        <div class="progress-bar progress-bar-striped bg-ptg progress-bar-animated" role="progressbar" style="width: 80%" aria-valuenow="<%= step %>" aria-valuemin="0" aria-valuemax="<%= topStep %>"></div>
      </div>

      <h3 class="container-text feature-title-box">Indica cuántos médicos están de guardia cada día:</h3>


      <form action="/generarplanilla" method="post">
        <div class="form-group">
          <input type="hidden" name="step" value="<%= step %>">


          <select class="form-control filtro" size="1" type="number"  name="medicosDeGuardia" required>
            <option disabled="" selected="" value="">Médicos por guardia</option>
            <% for (var i = 0; i < n_resis ; i++) { %>
            <option type="number" value="<%= i + 1 %>"><%= i + 1 %></option>
            <% } %>
          </select>

          
        </div>
        <button class="btn btn-ptg defaultsink" type="submit">Siguiente</button>
        <button class="btn btn-ptg" type="" name="botonAnterior" value="-1">Anterior</button>
        <button class="btn btn-ptg" type="submit">Siguiente</button>

      </form>
    </div>
  </div>
  <% } else if (step === 4) { %>
  <div class="container-fluid" id="contenedor_fest">
    <div class="container-md container_k">
      <div class="progress progress_k">
        <div class="progress-bar progress-bar-striped bg-ptg progress-bar-animated" role="progressbar" style="width: 30%" aria-valuenow="<%= step %>" aria-valuemin="0" aria-valuemax="<%= topStep %>"></div>
      </div>

      <h3 class="container-text feature-title-box">Indica los días festivos del mes:</h3>
      <form action="/generarplanilla" method="post">
        <div class="form-group" id="reparto">
          
          <input type="hidden" name="step" value=<%= step %>>
          <input type="hidden" id="nombresArray" name="nombresArray" value=<%= nombre %>>

          <!-- Pendiente de meter tabla -->
          <table class="table table_k tabla">
            <thead>
              <tr>
                <% for (var i = 0; i < dias_mes + 1 ; i++) { %>
                <% if (i > 0) { %>
                <th scope="col">
                  <%= i %>
                </th>
                <% } else {%>
                <th scope="col"></th>
                <% }} %>
              </tr>
            </thead>

            <thead>
              <tr>
                <% for (var i = 0; i < dias_mes + 1 ; i++) { %>
                <% if (i > 0) { %>
                <th scope="col">
                  <%= weekArray[i-1] %>
                </th>
                <% } else {%>
                <th scope="col"></th>
                <% }} %>
              </tr>
            </thead>

            <tbody>
              <tr>
                <th scope="row">Festivos:</th>
                <% for (var j = 0; j < dias_mes ; j++) { %>
                <% var vsd = ['V','S','D'] %>

                <% if (vsd.includes(weekArray[j]) ) { %>
                <td>
                  <input class="checkboxSize" type="checkbox" value="1" id="Festivo_<%= j + 1 %>" name="Festivo_<%= j + 1 %>" onclick="recalculate(this);" checked>
                </td>
                <% } else {%>
                <td>
                  <input class="checkboxSize" type="checkbox" value="1" id="Festivo_<%= j + 1 %>" name="Festivo_<%= j + 1 %>" onclick="recalculate(this);">                
                </td>
                <% } %>

                <% } %>
              </tr>
            </tbody>
          </table>

          <div style='margin-top: 30px'>  </div>
          
        <h3 class="container-text feature-title-box">¿Cómo deseas que se repartan las guardias?</h3>

        <div class="settings">
          <label>Equitativamente</label>
          <label class="toggle">

            <input type="checkbox" id="toggle_1" onclick="toggle(this);" value ="ON">
            <span class="slider"></span>
            <!--<span class="labels" data-on="Custom" data-off="Equitativamente"></span>-->

          </label>
          <label>Personalizado</label>
        </div>



        <div class="guardias-box-clear-orange col-lg-8 container-fluid" id ="cajita_naranja">
          
         
          
          <div id ="texto_1" class="ali_izq"></div>
          <br>
          <ol>
            <li id ="texto_2"class="ali_izq"></li>
            <br>
            <li id ="texto_3"class="ali_izq"></li>
          </ol>
          
          
        
        </div>
        <div id="formContainer"></div>


        </div>
        
        
        <script >
        
          
          var dias_mes_element = document.querySelectorAll('input[type="checkbox"]').length - 1;
          //var dias_mes_festivos = document.querySelectorAll('input[type="checkbox"]:checked').length;
          var n_resis = '<%= n_resis %>';
          var medicosDeGuardia = '<%= medicosDeGuardia %>';
          //Esto se ejecuta cada vez que hagas click en un checkbox de Festivos
          
          var reparto = document.getElementById("reparto");
          
          var v_guardias_max_tot = []
          var v_guardias_min_tot = []
          var v_guardias_max_fes = []
          var v_guardias_min_fes = []

          if (document.getElementById("toggle_1").value == "OFF") {
            var dias_mes_festivos = document.querySelectorAll('input[type="checkbox"]:checked').length -1;
          } else if (document.getElementById("toggle_1").value == "ON") {
            var dias_mes_festivos = document.querySelectorAll('input[type="checkbox"]:checked').length;
          }

          var tg = medicosDeGuardia * dias_mes_element/n_resis;
          var tgf = medicosDeGuardia * dias_mes_festivos/n_resis;

          var dg_max = Math.ceil(tg);
          var dg_min = Math.floor(tg);
          var fg_max = Math.ceil(tgf);
          var fg_min = Math.floor(tgf);

          if (dg_min != dg_max){
              document.getElementById("texto_1").innerHTML = ""
              document.getElementById("texto_2").innerHTML = "Cada médico cubrirá <b>" + dg_min + " o "+ dg_max + " guardias en total.</b>";
          }
          else{
            document.getElementById("texto_1").innerHTML = ""
            document.getElementById("texto_2").innerHTML = "Cada médico cubrirá <b>" + dg_min + " guardias en total.</b>";
          }

          if (fg_max != fg_min){
            document.getElementById("texto_1").innerHTML = ""
            document.getElementById("texto_3").innerHTML = "De las cuales, <b>" + fg_min + " o "+ fg_max + " estarán repartidas entre en los días festivos</b> que has indicado.";
          } else {
            document.getElementById("texto_1").innerHTML = ""
            document.getElementById("texto_3").innerHTML = "De las cuales, <b>" + fg_min + " estarán repartidas entre en los días festivos</b> que has indicado.";
          }



            v_guardias_max_tot = Array(parseInt(n_resis)).fill(dg_max)
            v_guardias_min_tot = Array(parseInt(n_resis)).fill(dg_min)
            v_guardias_max_fes = Array(parseInt(n_resis)).fill(fg_max)
            v_guardias_min_fes = Array(parseInt(n_resis)).fill(fg_min)

                      
            
            
            var reparto = document.getElementById("reparto");

            for (var i = 0; i < n_resis; i++) {
                var input_v_guardias_max_tot = document.createElement("input");
                input_v_guardias_max_tot.setAttribute("type", "hidden");
                input_v_guardias_max_tot.id = "v_guardias_max_tot";
                input_v_guardias_max_tot.setAttribute("name", "v_guardias_max_tot_" + i);
                input_v_guardias_max_tot.value = v_guardias_max_tot[i];
                reparto.appendChild(input_v_guardias_max_tot);
                
              }
            
              for (var i = 0; i < n_resis; i++) {
                var input_v_guardias_min_tot = document.createElement("input");
                input_v_guardias_min_tot.setAttribute("type", "hidden");
                input_v_guardias_min_tot.id = "v_guardias_min_tot";
                input_v_guardias_min_tot.setAttribute("name", "v_guardias_min_tot_" + i);
                input_v_guardias_min_tot.value = v_guardias_min_tot[i];
                reparto.appendChild(input_v_guardias_min_tot);
                
              }

              for (var i = 0; i < n_resis; i++) {
                var input_v_guardias_max_fes = document.createElement("input");
                input_v_guardias_max_fes.setAttribute("type", "hidden");
                input_v_guardias_max_fes.id = "v_guardias_max_fes";
                input_v_guardias_max_fes.setAttribute("name", "v_guardias_max_fes_" + i);
                input_v_guardias_max_fes.value = v_guardias_max_fes[i];
                reparto.appendChild(input_v_guardias_max_fes);
                
              }
            
              for (var i = 0; i < n_resis; i++) {
                var input_v_guardias_min_fes = document.createElement("input");
                input_v_guardias_min_fes.setAttribute("type", "hidden");
                input_v_guardias_min_fes.id = "v_guardias_min_fes";
                input_v_guardias_min_fes.setAttribute("name", "v_guardias_min_fes_" + i);
                input_v_guardias_min_fes.value = v_guardias_min_fes[i];
                reparto.appendChild(input_v_guardias_min_fes);
                
              }

          function recalcular_tot(){
            var guardias_asignadas = 0
            var n_resis = '<%= n_resis %>';
            var medicosDeGuardia = '<%= medicosDeGuardia %>';
            var dias_mes_element = document.querySelectorAll('input[type="checkbox"]').length - 1;

                for (var i = 0; i < n_resis-1; i++){
                  var nombre_aux = "Nombre_tot_" + i
                  guardias_asignadas += parseInt(document.getElementById("Nombre_tot_" + i).value)
                }

                var guardias_restantes = (medicosDeGuardia * dias_mes_element) - guardias_asignadas
                var nombre_aux_ult = "Nombre_tot_" + (n_resis-1)
                var ult_tot = document.getElementById(nombre_aux_ult)
                ult_tot.value = guardias_restantes

                for (var i = 0; i < n_resis; i++){
                  
                  v_guardias_max_tot[i] = document.getElementById("Nombre_tot_" + i).value
                }

                v_guardias_min_tot = v_guardias_max_tot
            

                creamosinputs();

            if(parseInt(document.getElementById("Nombre_tot_" + (n_resis-1)).value) < 0){
              console.log('Entro')
              alert('¡Revisa las guardias! Has puesto demasiadas')
            }
          }

          function recalcular_fes(){
            
            var guardias_asignadas = 0
            var n_resis = '<%= n_resis %>';
            var medicosDeGuardia = '<%= medicosDeGuardia %>';

            if (document.getElementById("toggle_1").value == "OFF") {
              var dias_mes_festivos = document.querySelectorAll('input[type="checkbox"]:checked').length -1;
            } else if (document.getElementById("toggle_1").value == "ON") {
              var dias_mes_festivos = document.querySelectorAll('input[type="checkbox"]:checked').length;
            }

            for (var i = 0; i < n_resis-1; i++){
              var nombre_aux = "Nombre_fes_" + i
              guardias_asignadas += parseInt(document.getElementById("Nombre_fes_" + i).value)
            }

            var guardias_restantes = (medicosDeGuardia * dias_mes_festivos) - guardias_asignadas
            var nombre_aux_ult = "Nombre_fes_" + (n_resis-1)
            var ult_fes = document.getElementById(nombre_aux_ult)
            ult_fes.value = guardias_restantes

            for (var i = 0; i < n_resis; i++){
                  
                  v_guardias_max_fes[i] = document.getElementById("Nombre_fes_" + i).value
                }

                v_guardias_min_fes = v_guardias_max_fes

                console.log("Vectores resultantes:")
                console.log(v_guardias_max_tot)
                console.log(v_guardias_min_tot)
                console.log(v_guardias_max_fes)
                console.log(v_guardias_max_fes)

                creamosinputs();

                if(parseInt(document.getElementById("Nombre_fes_" + (n_resis-1)).value) < 0){
              alert('¡Revisa las guardias en festivo! Has puesto demasiadas')
            }
          }

          function creamosinputs(){
            var n_resis = '<%= n_resis %>';

            while (document.contains(document.getElementById("v_guardias_max_tot"))) {
                document.getElementById("v_guardias_max_tot").remove();
              }  
              
              while (document.contains(document.getElementById("v_guardias_min_tot"))) {
                document.getElementById("v_guardias_min_tot").remove();
              }  
              while (document.contains(document.getElementById("v_guardias_max_fes"))) {
                document.getElementById("v_guardias_max_fes").remove();
              }  
              
              while (document.contains(document.getElementById("v_guardias_min_fes"))) {
                document.getElementById("v_guardias_min_fes").remove();
              }  
            
              


            for (var i = 0; i < n_resis; i++) {
                var input_v_guardias_max_tot = document.createElement("input");
                input_v_guardias_max_tot.setAttribute("type", "hidden");
                input_v_guardias_max_tot.id = "v_guardias_max_tot";
                input_v_guardias_max_tot.setAttribute("name", "v_guardias_max_tot_" + i);
                input_v_guardias_max_tot.value = v_guardias_max_tot[i];
                reparto.appendChild(input_v_guardias_max_tot);
                
              }

              for (var i = 0; i < n_resis; i++) {
                var input_v_guardias_min_tot = document.createElement("input");
                input_v_guardias_min_tot.setAttribute("type", "hidden");
                input_v_guardias_min_tot.id = "v_guardias_min_tot";
                input_v_guardias_min_tot.setAttribute("name", "v_guardias_min_tot_" + i);
                input_v_guardias_min_tot.value = v_guardias_min_tot[i];
                reparto.appendChild(input_v_guardias_min_tot);
                
              }

              for (var i = 0; i < n_resis; i++) {
                var input_v_guardias_max_fes = document.createElement("input");
                input_v_guardias_max_fes.setAttribute("type", "hidden");
                input_v_guardias_max_fes.id = "v_guardias_max_fes";
                input_v_guardias_max_fes.setAttribute("name", "v_guardias_max_fes_" + i);
                input_v_guardias_max_fes.value = v_guardias_max_fes[i];
                reparto.appendChild(input_v_guardias_max_fes);
                
              }

              for (var i = 0; i < n_resis; i++) {
                var input_v_guardias_min_fes = document.createElement("input");
                input_v_guardias_min_fes.setAttribute("type", "hidden");
                input_v_guardias_min_fes.id = "v_guardias_min_fes";
                input_v_guardias_min_fes.setAttribute("name", "v_guardias_min_fes_" + i);
                input_v_guardias_min_fes.value = v_guardias_min_fes[i];
                reparto.appendChild(input_v_guardias_min_fes);
                
              }
              
          }

          function recalculate(checkbox) {
            

            // Calculamos el número de guardias totales del mes
            var dias_mes_element = document.querySelectorAll('input[type="checkbox"]').length - 1;
            var n_resis = '<%= n_resis %>';
            var medicosDeGuardia = '<%= medicosDeGuardia %>';

            
            for (var i = 0; i < n_resis; i++) {
              
              
              while (document.contains(document.getElementById("Nombre_tot_" + i))) {
                
                document.getElementById("Nombre_tot_" + i).remove();
                
              }  
              while (document.contains(document.getElementById("Nombre_tot_label_" + i))) {
                document.getElementById("Nombre_tot_label_" + i).remove();
              }       
              while (document.contains(document.getElementById("Nombre_fes_" + i))) {
                
                document.getElementById("Nombre_fes_" + i).remove();
                
              }  
              while (document.contains(document.getElementById("Nombre_fes_label_" + i))) {
                document.getElementById("Nombre_fes_label_" + i).remove();
              }                

            }

            while (document.contains(document.getElementById("form_id"))) {
                document.getElementById("form_id").remove();
                
              }  
            

            // Calculamos el número de guardias en festivos totales del mes
            if (document.getElementById("toggle_1").value == "OFF") {
              var dias_mes_festivos = document.querySelectorAll('input[type="checkbox"]:checked').length -1;
            } else if (document.getElementById("toggle_1").value == "ON") {
              var dias_mes_festivos = document.querySelectorAll('input[type="checkbox"]:checked').length;
            }

            var tg = medicosDeGuardia * dias_mes_element/n_resis;
            var tgf = medicosDeGuardia * dias_mes_festivos/n_resis;

            var dg_max = Math.ceil(tg);
            var dg_min = Math.floor(tg);
            var fg_max = Math.ceil(tgf);
            var fg_min = Math.floor(tgf);

            //Dependiendo del modo, se generan los vectores de una forma o de otra
            
            if (document.getElementById("toggle_1").value == "OFF") {
              //Lo que ocurre cuando le damos a un festivo y es tamos en modo Personalizado
              // Create form container
                let formContainer = document.getElementById("formContainer");
                let form = document.createElement("form");
                form.setAttribute("id", "form_id");
                
                let nombresArray = document.getElementById("nombresArray").value;
                var nameArr = nombresArray.split(',');

                if (medicosDeGuardia>1){
                  document.getElementById("texto_1").innerHTML = "<b>Deberás repartir las "+dias_mes_element+" guardias entre los " + n_resis + " médicos.</b> Recuerda que has indicado que habrá "+medicosDeGuardia+" médicos de guardia cada noche.";
                } else {
                  document.getElementById("texto_1").innerHTML = "<b>Deberás repartir las "+dias_mes_element+" guardias entre los " + n_resis + " médicos.</b> Recuerda que has indicado que habrá "+medicosDeGuardia+" médico de guardia cada noche.";
                }
                
                document.getElementById("texto_2").innerHTML = "Indica <b>exactamente el número de guardias que quieres que haga cada médico </b>en el mes.";
                document.getElementById("texto_3").innerHTML = "Debajo, <b>indica cuántas de esas guardias estarán repartidas entre en los días festivos ("+dias_mes_festivos+")</b> que has indicado arriba.";
                

                form.appendChild(document.createElement("br"));

                //Creamos los inputs TOTALES
                let tit_tot = document.createElement("p");
                tit_tot.setAttribute("class", "titulin");
                tit_tot.innerHTML = '1. Guardias totales en el mes: ';

                form.appendChild(tit_tot);

                for (var i = 0; i < n_resis; i++) {
                
                var nombre = nameArr[i]
                
                var label1 = document.createElement("label");
                label1.innerHTML = nombre + ':  ';
                label1.setAttribute("for", "Nombre_tot_" + i);
                label1.setAttribute("id", "Nombre_tot_label_" + i);

                let input1 = document.createElement("input");
                input1.setAttribute("type", "number");
                input1.setAttribute("id", "Nombre_tot_" + i);
                input1.setAttribute("name", "Nombre_tot_" + i);
                input1.setAttribute("min", "0");
                input1.setAttribute("max", dias_mes_element);
                input1.setAttribute("value", dg_min);
                input1.required = true;

                if (i == n_resis-1){
                  input1.setAttribute("readonly", "readonly");
                } else {
                  input1.setAttribute("onchange", "recalcular_tot()");
                }
                
                
                
                form.appendChild(label1);
                form.appendChild(input1);
                
                form.appendChild(document.createElement("br"));
                }

                formContainer.appendChild(form);

                var guardias_asignadas = 0
                for (var i = 0; i < n_resis-1; i++){
                  var nombre_aux = "Nombre_tot_" + i
                  guardias_asignadas += parseInt(document.getElementById("Nombre_tot_" + i).value)
                }

                var guardias_restantes = (medicosDeGuardia * dias_mes_element) - guardias_asignadas
                var nombre_aux_ult = "Nombre_tot_" + (n_resis-1)
                var ult_tot = document.getElementById(nombre_aux_ult)
                ult_tot.value = guardias_restantes

                //Creamos los inputs FESTIVOS
                form.appendChild(document.createElement("br"));
                let tit_fes = document.createElement("p");
                tit_fes.setAttribute("class", "titulin");
                tit_fes.innerHTML = '2. Guardias en los festivos indicados: ';

                form.appendChild(tit_fes);

                for (var i = 0; i < n_resis; i++) {
                
                var nombre = nameArr[i]
                
                var label1 = document.createElement("label");
                label1.innerHTML = nombre + ':  ';
                label1.setAttribute("for", "Nombre_fes_" + i);
                label1.setAttribute("id", "Nombre_fes_label_" + i);

                let input1 = document.createElement("input");
                input1.setAttribute("type", "number");
                input1.setAttribute("id", "Nombre_fes_" + i);
                input1.setAttribute("name", "Nombre_fes_" + i);
                input1.setAttribute("min", "0");
                input1.setAttribute("max", dias_mes_festivos);
                input1.setAttribute("value", fg_min);
                input1.required = true;

                if (i == n_resis-1){
                  input1.setAttribute("readonly", "readonly");
                } else {
                  input1.setAttribute("onchange", "recalcular_fes()");
                }
                
                
                
                form.appendChild(label1);
                form.appendChild(input1);
                
                form.appendChild(document.createElement("br"));
                }

                formContainer.appendChild(form);

                var guardias_asignadas = 0
                for (var i = 0; i < n_resis-1; i++){
                  var nombre_aux = "Nombre_fes_" + i
                  guardias_asignadas += parseInt(document.getElementById("Nombre_fes_" + i).value)
                }

                var guardias_restantes = (medicosDeGuardia * dias_mes_festivos) - guardias_asignadas
                var nombre_aux_ult = "Nombre_fes_" + (n_resis-1)
                var ult_fes = document.getElementById(nombre_aux_ult)
                ult_fes.value = guardias_restantes


                //Creamos las variables que vamos a pasar al servidor:


                for (var i = 0; i < n_resis; i++){
                  
                  v_guardias_max_tot[i] = document.getElementById("Nombre_tot_" + i).value
                  v_guardias_max_fes[i] = document.getElementById("Nombre_fes_" + i).value
                }

                v_guardias_min_tot = v_guardias_max_tot
                v_guardias_min_fes = v_guardias_max_fes

                console.log("Vectores resultantes:")
                console.log(v_guardias_max_tot)
                console.log(v_guardias_min_tot)
                console.log(v_guardias_max_fes)
                console.log(v_guardias_max_fes)

            
            } else if (document.getElementById("toggle_1").value == "ON") {
              //Lo que ocurre cuando le damos a un festivo y es tamos en modo Equitativo
             

              

              if (dg_min != dg_max){
                document.getElementById("texto_1").innerHTML = ""
                document.getElementById("texto_2").innerHTML = "Cada médico cubrirá <b>" + dg_min + " o "+ dg_max + " guardias en total.</b>";
              }
              else{
                document.getElementById("texto_1").innerHTML = ""
                document.getElementById("texto_2").innerHTML = "Cada médico cubrirá <b>" + dg_min + " guardias en total.</b>";
              }

              if (fg_max != fg_min){
                document.getElementById("texto_1").innerHTML = ""
                  document.getElementById("texto_3").innerHTML = "De las cuales, <b>" + fg_min + " o "+ fg_max + " estarán repartidas entre en los días festivos</b> que has indicado.";
              } else {
                document.getElementById("texto_1").innerHTML = ""
                document.getElementById("texto_3").innerHTML = "De las cuales, <b>" + fg_min + " estarán repartidas entre en los días festivos</b> que has indicado.";
              }


            
              v_guardias_max_tot = Array(parseInt(n_resis)).fill(dg_max)
              v_guardias_min_tot = Array(parseInt(n_resis)).fill(dg_min)
              v_guardias_max_fes = Array(parseInt(n_resis)).fill(fg_max)
              v_guardias_min_fes = Array(parseInt(n_resis)).fill(fg_min)

            }
            
            creamosinputs()
              
            
          }


          function toggle(checkbox) {

            //Borramos las cajas existentes
            while (document.contains(document.getElementById("Guardias_pers_tot"))) {
                document.getElementById("Guardias_pers_tot").remove();
              }
            //Borramos las cajas existentes
            while (document.contains(document.getElementById("Guardias_pers_fes"))) {
                document.getElementById("Guardias_pers_fes").remove();
              }
              
            //Borramos los vectores predefinidos
              while (document.contains(document.getElementById("v_guardias_max_tot"))) {
                document.getElementById("v_guardias_max_tot").remove();
              }  
              
              while (document.contains(document.getElementById("v_guardias_min_tot"))) {
                document.getElementById("v_guardias_min_tot").remove();
              }  
              while (document.contains(document.getElementById("v_guardias_max_fes"))) {
                document.getElementById("v_guardias_max_fes").remove();
              }  
              
              while (document.contains(document.getElementById("v_guardias_min_fes"))) {
                document.getElementById("v_guardias_min_fes").remove();
              } 

            //Esto se ejecuta cuando le damos al toggle button
            if (document.getElementById("toggle_1").value == "OFF") {
              document.getElementById("toggle_1").value = "ON";
              //document.getElementById("cajita_naranja").style.display = "block";
              
              recalculate(checkbox);


            } else if (document.getElementById("toggle_1").value == "ON") {
              document.getElementById("toggle_1").value = "OFF";
              //document.getElementById("cajita_naranja").style.display = "none";
              recalculate(checkbox);
            }
            
          }
        </script>


        <button class="btn btn-ptg defaultsink" type="submit">Siguiente</button>
        <button class="btn btn-ptg" type="" name="botonAnterior" value="-1">Anterior</button>
        <button class="btn btn-ptg" type="submit" >Siguiente</button>
      </form>
    </div>
  </div>
  <% } else if (step === 5) { %>
  <div class="container-fluid" id="contenedor">
    <div class="container-md container_k">
      <div class="progress progress_k">
        <div class="progress-bar progress-bar-striped bg-ptg progress-bar-animated" role="progressbar" style="width: 40%" aria-valuenow="<%= step %>" aria-valuemin="0" aria-valuemax="<%= topStep %>"></div>
      </div>

      <h3 class="container-text feature-title-box">Indica las guardias que ya habéis asignado:</h3>
      <h5>Estas guardias se forzarán al día y médico correspondiente</h5>
      <form action="/generarplanilla" method="POST">
        <div class="form-group">
          <input type="hidden" name="step" value=<%= step %>>


          <!-- Pendiente de meter tabla -->
          <table class="table table_k">
            <thead>
              <tr>
                <% for (var i = 0; i < dias_mes + 1 ; i++) { %>
                <% if (i > 0) { %>
                <th scope="col">
                  <%= i %>
                </th>
                <% } else {%>
                <th scope="col"></th>
                <% }} %>
              </tr>
            </thead>

            <thead>
              <tr>
                <% for (var i = 0; i < dias_mes + 1 ; i++) { %>
                <% if (i > 0) { %>
                <th scope="col">
                  <%= weekArray[i-1] %>
                </th>
                <% } else {%>
                <th scope="col"></th>
                <% }} %>
              </tr>
            </thead>

            <tbody>
              <% for (var i = 0; i < n_resis ; i++) {%>
              <tr>
                <th scope="row"><%= nombre[i] %> </th>
                <% for (var j = 0; j < dias_mes ; j++) { %>
                <td>
                  <input class="checkboxSize" type="checkbox" value=1 name="Asignado_<%=nombre[i]%>_<%=j + 1%>">
                </td>
                <% } %>
              </tr>
              <% } %>

            </tbody>
          </table>

        </div>
        <button class="btn btn-ptg defaultsink" type="submit">Siguiente</button>
        <button class="btn btn-ptg" type="" name="botonAnterior" value="-1">Anterior</button>
        <button class="btn btn-ptg" type="submit">Siguiente</button>
      </form>
    </div>
  </div>
  <% } else if (step === 6) { %>
  <div class="container-fluid" id="contenedor">
    <div class="container-md container_k">
      <div class="progress progress_k">
        <div class="progress-bar progress-bar-striped bg-ptg progress-bar-animated" role="progressbar" style="width: 60%" aria-valuenow="<%= step %>" aria-valuemin="0" aria-valuemax="<%= topStep %>"></div>
      </div>

      <h3 class="container-text feature-title-box">Indica los días de vacaciones / libranza:</h3>
      <h5>En estos días no asignaremos guardias</h5>
      <form action="/generarplanilla" method="POST">
        <div class="form-group">
          <input type="hidden" name="step" value=<%= step %>>

          <!-- Pendiente de meter tabla -->
          <table class="table">
            <thead>
              <tr>
                <% for (var i = 0; i < dias_mes + 1 ; i++) { %>
                <% if (i > 0) { %>
                <th scope="col">
                  <%= i %>
                </th>
                <% } else {%>
                <th scope="col"></th>
                <% }} %>
              </tr>
            </thead>

            <thead>
              <tr>
                <% for (var i = 0; i < dias_mes + 1 ; i++) { %>
                <% if (i > 0) { %>
                <th scope="col">
                  <%= weekArray[i-1] %>
                </th>
                <% } else {%>
                <th scope="col"></th>
                <% }} %>
              </tr>
            </thead>

            <tbody>
              <% for (var i = 0; i < n_resis ; i++) {%>
              <tr>
                <th scope="row"><%= nombre[i] %> </th>
                <% for (var j = 0; j < dias_mes ; j++) { %>
                <td>
                  <input class="checkboxSize" type="checkbox" value=1 name="Vacaciones_<%=nombre[i]%>_<%=j + 1%>">
                </td>
                <% } %>
              </tr>
              <% } %>

            </tbody>
          </table>

        </div>
        <button class="btn btn-ptg defaultsink" type="submit">Siguiente</button>
        <button class="btn btn-ptg" type="" name="botonAnterior" value="-1">Anterior</button>
        <button class="btn btn-ptg" type="submit">Siguiente</button>
      </form>
    </div>
  </div>


  <% } else if (step === 7) { %>
  <div class="container-fluid" id="contenedor">
    <div class="container-md container_k">
      <div class="progress progress_k">
        <div class="progress-bar progress-bar-striped bg-ptg progress-bar-animated" role="progressbar" style="width: 90%" aria-valuenow="<%= step %>" aria-valuemin="0" aria-valuemax="<%= topStep %>"></div>
      </div>

      <h3 class="container-text feature-title-box">Déjanos saber si quieres añadir alguna condición y la tendremos en cuenta:</h3>


      <form action="/generarplanilla" method="POST">
        <div class="form-group">
          <input type="hidden" name="step" value="<%= step %>">
        </div>

        <div class="form-group">
          <label class="filtro" for="exampleFormControlTextarea1">Ejemplo: Que los R1 hagan guardias con los R4,...</label>
          <textarea class="form-control filtro" name="comentario" rows="3"></textarea>
        </div>

        <button class="btn btn-ptg defaultsink" type="submit">Siguiente</button>
        <button class="btn btn-ptg" type="" name="botonAnterior" value="-1">Anterior</button>
        <button class="btn btn-ptg" type="submit">Siguiente</button>
      </form>
    </div>
  </div>

  <% } else if (step === 8) { %>
  <div class="container-fluid" id="contenedor">
    <div class="container-md container_k">
      <div class="progress progress_k">
        <div class="progress-bar progress-bar-striped bg-ptg progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="<%= step %>" aria-valuemin="0" aria-valuemax="<%= topStep %>"></div>
      </div>

      <h3 class="container-text feature-title-box"> Indícanos un correo:<br> </h3>

      <form action="/generarplanilla" method="POST">
        <div class="form-group">
          <input type="hidden" name="step" value="<%= step %>">



          <input class="filtro"type="text" placeholder="Escribe tu email" name="correo" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
          <small id="emailHelp" class="form-text text-muted">No compartimos información con terceros.</small>

        </div>
        <button class="btn btn-ptg defaultsink" type="submit">Finalizar</button>
        <button class="btn btn-ptg" type="" name="botonAnterior" value="-1">Anterior</button>
        <button class="btn btn-ptg" type="submit">Finalizar</button>
      </form>

    </div>


  </div>



  <% } else if (step === 9) { %>
  <div class="container-fluid" id="contenedor">
    <div class="container-md container_k">
      <div class="progress progress_k">
        <div class="progress-bar progress-bar-striped bg-ptg progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="<%= step %>" aria-valuemin="0" aria-valuemax="<%= topStep %>"></div>
      </div>


      <h3 class="container-text feature-title-box">¡Muchas gracias por completar el formulario!</h3>
      <h3 class="container-text feature-title-box">Estamos generando tu planilla. Danos unos segundos...</h3>

      <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>

      <form action="/mostrarSolucion" method="GET" id="formulario_final" name="formulario_final">

        <button class="btn btn-ptg defaultsink" type="">Mostrar resultado</button>
      </form>
      <script type="text/javascript">
        console.log("Estamos antes del onload")
        var auto_refresh = setTimeout(function() {
          submitform();
        }, 1500);

        function submitform() {
          document.getElementById("formulario_final").submit();
        }
      </script>
    </div>
  </div>

  <% } %>
  <% } %>
</section>
